<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <%= render 'sidenav' %>
    </div><!--/span-->
    <div class="span9">
      <%= render 'herounit' %>  
    </div><!--/span-->
  </div><!--/row-->
  <hr>
</div>