<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Quick Links</li>
    <li><a href="/users">Home</a></li>
    <li class="active"><a href="/contractors">Contractors</a></li>
    <li><a href="#">Companies</a></li>
    <li><a href="#">Resources</a></li>
    <li><a href="#">Our Info</a></li>
  </ul>
</div><!--/.well -->